---
title: Bio
---

<html>
{% include head.html title="Bio - Colin Doumont" description="Bio of Colin Doumont" keywords="bio, CV, resume, curriculum vitae, academic" %}
<body>
    {% include nav.html %}
    <div id='cv' class='wrap'>
        <div class='cv-content'>

            <div class='cv-section'>
                <h2>Education</h2>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>Nov 2025 - ...</span>
                        <span class='date-mobile'>Nov 2025 - ...</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>Tübingen AI Center</span><span class='cv-sep'> · </span>PhD, Machine Learning</h3>
                        <p class='description'>Advisor: <a href='https://uni-tuebingen.de/en/fakultaeten/mathematisch-naturwissenschaftliche-fakultaelt/fachbereiche/informatik/lehrstuehle/methoden-des-maschinellen-lernens/personen/philipp-hennig/' target='_blank' rel='noopener'>Philipp Hennig</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024<br>(6 months)</span>
                        <span class='date-mobile'>2024 (6 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>University of Cambridge</span><span class='cv-sep'> · </span>Master's Thesis, Applied Mathematics</h3>
                        <p class='description'>Advisor: <a href='https://www.lancaster.ac.uk/maths/people/henry-moss2' target='_blank' rel='noopener'>Henry Moss</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2022 - 2024</span>
                        <span class='date-mobile'>2022 - 2024</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>ETH Zürich</span><span class='cv-sep'> · </span>MSc, Statistics</h3>
                        <p class='description'>Advisors:
                            <a href='https://vab.im' target='_blank' rel='noopener'>Viacheslav Borovitskiy</a>,
                            <a href='https://las.inf.ethz.ch/krausea' target='_blank' rel='noopener'>Andreas Krause</a>
                        </p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2019 - 2022</span>
                        <span class='date-mobile'>2019 - 2022</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>Maastricht University</span><span class='cv-sep'> · </span>BSc, Econometrics &amp; Operations Research</h3>
                        <p class='description'>Advisor: <a href='https://larsrohwedder.com/' target='_blank' rel='noopener'>Lars Rohwedder</a></p>
                    </div>
                </div>
            </div>

            <div class='cv-section'>
                <h2>Experience</h2>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2025<br>(3 months)</span>
                        <span class='date-mobile'>2025 (3 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>University College London</span><span class='cv-sep'> · </span>Research Assistant</h3>
                        <p class='description'>Advisor: <a href='https://ilijabogunovic.com' target='_blank' rel='noopener'>Ilija Bogunovic</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024 - 2025<br>(4 months)</span>
                        <span class='date-mobile'>2024 - 2025 (4 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>Vector Institute</span><span class='cv-sep'> · </span>Research Intern</h3>
                        <p class='description'>Advisor: <a href='https://geoffpleiss.com' target='_blank' rel='noopener'>Geoff Pleiss</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024<br>(6 months)</span>
                        <span class='date-mobile'>2024 (6 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'><a href='https://www.secondmind.ai' target='_blank' rel='noopener'>Secondmind</a></span><span class='cv-sep'> · </span>Visiting Researcher</h3>
                        <p class='description'>Advisor: <a href='https://sites.google.com/site/victorpicheny/' target='_blank' rel='noopener'>Victor Picheny</a></p>
                    </div>
                </div>
            </div>

            <div class='cv-section'>
                <h2>Awards</h2>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2025</span>
                        <span class='date-mobile'>2025</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'>NeurIPS Scholar Award</span></h3>
                        <p class='description'>Full conference registration and hotel stay, San Diego</p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2021</span>
                        <span class='date-mobile'>2021</span>
                    </div>
                    <div class='cv-details'>
                        <h3><span class='cv-org'><a href='https://baef.be' target='_blank' rel='noopener'>Belgian American Educational Foundation</a></span><span class='cv-sep'> · </span>Fellowship</h3>
                        <p class='description'>Awarded (and declined) $100k to complete a master's degree in the USA</p>
                    </div>
                </div>
            </div>

        </div>
        {% include footer.html %}
    </div>
</body>
</html>
