---
title: CV
---

<html>
<head>
    <title>CV - Colin Doumont</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Curriculum Vitae of Colin Doumont'>
    <meta name='keywords' content='CV, resume, curriculum vitae, academic'>
    <meta name='author' content='Colin Doumont'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='cv' class='wrap'>
        <div class='cv-content'>
            
            <div class='cv-section'>
                <h2>Education</h2>
                
                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>Nov 2025 - ...</span>
                        <span class='date-mobile'>Nov 2025 - ...</span>
                    </div>
                    <div class='cv-details'>
                        <h3>PhD, Machine Learning</h3>
                        <p class='institution'>Tübingen AI Center, Germany</p>
                        <p class='description'>Advisor: <a href='https://uni-tuebingen.de/en/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/informatik/lehrstuehle/methoden-des-maschinellen-lernens/personen/philipp-hennig/' target='_blank' rel='noopener'>Philipp Hennig</a></p>

                    </div>
                </div>
                
                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024<br>(6 months)</span>
                        <span class='date-mobile'>2024 (6 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3>Master's Thesis, Applied Mathematics</h3>
                        <p class='institution'>University of Cambridge, United Kingdom</p>
                        <p class='description'>Advisor: <a href='https://www.lancaster.ac.uk/maths/people/henry-moss2' target='_blank' rel='noopener'>Henry Moss</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2022 - 2024</span>
                        <span class='date-mobile'>2022 - 2024</span>
                    </div>
                    <div class='cv-details'>
                        <h3>MSc, Statistics</h3>
                        <p class='institution'>ETH Zürich, Switzerland</p>
                        <p class='description'>Advisors: 
                            <a href='https://vab.im' target='_blank' rel='noopener' class='text-link'>Viacheslav Borovitskiy</a>, 
                            <a href='https://las.inf.ethz.ch/krausea' target='_blank' rel='noopener' class='text-link'>Andreas Krause</a>
                        </p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2019 - 2022</span>
                        <span class='date-mobile'>2019 - 2022</span>
                    </div>
                    <div class='cv-details'>
                        <h3>BSc, Econometrics & Operations Research</h3>
                        <p class='institution'>Maastricht University, Netherlands</p>
                        <p class='description'>Advisor: <a href='https://larsrohwedder.com/' target='_blank' rel='noopener'>Lars Rohwedder</a></p>
                    </div>
                </div>
            </div>

            <div class='cv-section'>
                <h2>Experience</h2>
                
                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2025<br>(3 months)</span>
                        <span class='date-mobile'>2025 (3 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3>Research Assistant</h3>
                        <p class='institution'>University College London, United Kingdom</p>
                        <p class='description'>Advisor: <a href='https://ilijabogunovic.com' target='_blank' rel='noopener'>Ilija Bogunovic</a></p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024 - 2025<br>(4 months)</span>
                        <span class='date-mobile'>2024 - 2025 (4 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3>Research Intern</h3>
                        <p class='institution'>Vector Institute, Canada</p>
                        <p class='description'>Advisor: <a href='https://geoffpleiss.com' target='_blank' rel='noopener'>Geoff Pleiss</a></p>
                    </div>
                </div>
                
                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2024<br>(6 months)</span>
                        <span class='date-mobile'>2024 (6 months)</span>
                    </div>
                    <div class='cv-details'>
                        <h3>Visiting Researcher</h3>
                        <p class='institution'><a href='https://www.secondmind.ai' target='_blank' rel='noopener'>Secondmind Ltd.</a>, United Kingdom</p>
                        <p class='description'>Advisor: <a href='https://sites.google.com/site/victorpicheny/' target='_blank' rel='noopener'>Victor Picheny</a></p>
                    </div>
                </div>
            </div>

            <div class='cv-section'>
                <h2>Awards</h2>
                
                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2025</span>
                        <span class='date-mobile'>2025</span>
                    </div>
                    <div class='cv-details'>
                        <h3>NeurIPS Scholar Award</h3>
                        <p class='description'>Awarded full San Diego conference registration and a 7 night San Diego hotel stay</p>
                    </div>
                </div>

                <div class='cv-item'>
                    <div class='cv-date'>
                        <span class='date-desktop'>2021</span>
                        <span class='date-mobile'>2021</span>
                    </div>
                    <div class='cv-details'>
                        <h3>Fellowship of the <a href='https://baef.be' target='_blank' rel='noopener'>Belgian American Educational Foundation</a></h3>
                        <p class='description'>Awarded (and declined) funding of $100k to complete a master's degree in the USA</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
