---
title: Publications
---

<html>
<head>
    <title>Publications - Colin Doumont</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Publications by Colin Doumont'>
    <meta name='keywords' content='publications, research, papers, academic'>
    <meta name='author' content='Colin Doumont'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='publications' class='wrap'>
        <div class='publications-list'>
            <div class='publication-item'>
                <h3>We Still Don’t Understand High-Dimensional Bayesian Optimization</h3>
                <p class='authors'><u>Colin Doumont</u>, Donney Fan, Natalie Maus, Jacob R. Gardner, Henry Moss, Geoff Pleiss</p>
                <p class='venue'>International Conference on Artificial Intelligence and Statistics (AISTATS), 2026&nbsp;&nbsp;&nbsp;<span style='color: #ff4444;'>[Oral]</span></p>
                <p class='links'>
                    <a href='https://arxiv.org/pdf/2512.00170' target='_blank' rel='noopener'>PDF</a>
                    <a href='https://github.com/colmont/linear-bo' target='_blank' rel='noopener'>Code</a>
                    <!-- <a href='#'>BibTeX</a> -->
                </p>
            </div>
            <div class='publication-item'>
                <h3>Omnipresent Yet Overlooked: Heat Kernels in Combinatorial Bayesian Optimization</h3>
                <p class='authors'><u>Colin Doumont</u>, Victor Picheny, Viacheslav Borovitskiy, Henry Moss</p>
                <p class='venue'>Neural Information Processing Systems (NeurIPS), 2025</p>
                <p class='links'>
                    <a href='https://arxiv.org/abs/2510.26633' target='_blank' rel='noopener'>PDF</a>
                    <a href='https://github.com/colmont/heat-kernels-4-BO' target='_blank' rel='noopener'>Code</a>
                    <!-- <a href='#'>BibTeX</a> -->
                </p>
            </div>
        </div>
    </div>
</body>
</html>
