---
title: Publications
---

<html>
{% include head.html title="Publications - Colin Doumont" description="Publications by Colin Doumont" keywords="publications, research, papers, academic" %}
<body>
    {% include nav.html %}
    <div id='publications' class='wrap'>
        <div class='publications-list'>
            <div class='publication-item'>
                <h3>We Still Don’t Understand High-Dimensional Bayesian Optimization</h3>
                <p class='authors'><u>Colin Doumont</u>, Donney Fan, Natalie Maus, Jacob R. Gardner, Henry Moss, Geoff Pleiss</p>
                <p class='venue'>
                  International Conference on Artificial Intelligence and Statistics (AISTATS), 2026
                  <br>
                  <span class='award'>[Best Student Paper Award]</span>
                </p>
                <p class='links'>
                    <a href='https://arxiv.org/pdf/2512.00170' target='_blank' rel='noopener'>PDF</a>
                    <a href='https://github.com/colmont/linear-bo' target='_blank' rel='noopener'>Code</a>
                    <!-- <a href='#'>BibTeX</a> -->
                </p>
            </div>
            <div class='publication-item'>
                <h3>Omnipresent Yet Overlooked: Heat Kernels in Combinatorial Bayesian Optimization</h3>
                <p class='authors'><u>Colin Doumont</u>, Victor Picheny, Viacheslav Borovitskiy, Henry Moss</p>
                <p class='venue'>Neural Information Processing Systems (NeurIPS), 2025</p>
                <p class='links'>
                    <a href='https://arxiv.org/abs/2510.26633' target='_blank' rel='noopener'>PDF</a>
                    <a href='https://github.com/colmont/heat-kernels-4-BO' target='_blank' rel='noopener'>Code</a>
                    <!-- <a href='#'>BibTeX</a> -->
                </p>
            </div>
        </div>
    </div>
</body>
</html>
