---
title: Publications
---

<html>
{% include head.html title="Publications - Colin Doumont" description="Publications by Colin Doumont" keywords="publications, research, papers, academic" %}
<body>
    {% include nav.html %}
    <div id='publications' class='wrap'>

        <div class='pub-section'>
            <h2>Selected Publications</h2>
            <div class='publications-list'>
                <div class='publication-item'>
                    <div class='pub-year'>2026</div>
                    <div class='pub-details'>
                        <h3><a href='https://arxiv.org/abs/2512.00170' target='_blank' rel='noopener'>We Still Don't Understand High-Dimensional Bayesian Optimization</a></h3>
                        <p class='authors'><u>Colin Doumont</u>, Donney Fan, Natalie Maus, Jacob R. Gardner, Henry Moss, Geoff Pleiss</p>
                        <p class='venue'>
                            International Conference on Artificial Intelligence and Statistics (AISTATS)
                            <br>
                            <span class='award'>[Best Student Paper Award]</span>
                        </p>
                    </div>
                </div>
                <div class='publication-item'>
                    <div class='pub-year'>2025</div>
                    <div class='pub-details'>
                        <h3><a href='https://arxiv.org/abs/2510.26633' target='_blank' rel='noopener'>Omnipresent Yet Overlooked: Heat Kernels in Combinatorial Bayesian Optimization</a></h3>
                        <p class='authors'><u>Colin Doumont</u>, Victor Picheny, Viacheslav Borovitskiy, Henry Moss</p>
                        <p class='venue'>Neural Information Processing Systems (NeurIPS)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class='pub-section'>
            <h2>Preprints</h2>
            <div class='publications-list'>
                <div class='publication-item'>
                    <div class='pub-year'>2026</div>
                    <div class='pub-details'>
                        <h3><a href='https://arxiv.org/abs/2605.21041' target='_blank' rel='noopener'>Conditioning Gaussian Processes on Almost Anything</a></h3>
                        <p class='authors'>H. Moss*, L. Astfalck*, T. Cowperthwaite, <u>Colin Doumont</u>, S. Willis, P. Hennig, C. Nemeth, A. Zammit-Mangion</p>
                        <p class='venue'>arXiv preprint</p>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
